﻿﻿<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Brand -->
        <h2>Royale Estate </h2>
        <h3>Admin Paneli</h3>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item  active ">
                    <a class="nav-link " href="/Admin/KaggleDataset/Index/">
                        <i class="ni ni-tv-2 text-primary"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Admin/Category/CategoryList">
                        <i class="ni ni-image text-blue"></i> Kategoriler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Admin/Advert/AdvertList">
                        <i class="ni ni-badge text-orange"></i> İlanlar
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  active " href="/Admin/Location/LocationList">
                        <i class="fa fa-map-marker text-red" aria-hidden="true"></i> Lokasyon
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active " href="/Admin/Tag/TagList">
                        <i class=" ni ni-tag text-red"></i> Etiketler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Testimonial/TestimonialList">
                        <i class=" ni ni-bullet-list-67 text-red"></i> Referanslar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Login/LogOut">
                        <i class="ni ni-button-power text-black"></i> Çıkış Yap
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>