@model List<DapperProject.Dtos.TagDtos.ResultTagDto>
<div class="sidebar-box ftco-animate">
    <h3>Etiketler</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="/Advert/AdvertList/@item.AdvertId" class="tag-cloud-link">@item.TagName</a>
        }
        
       
    </div>
</div>