<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(/royalestate-master/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Florida 5, Pinecrest, FL</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Melbourne, Vic 3004</span>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <span class="price">$28,000</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(/royalestate-master/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">3015 Grand Avenue, CocoWalk</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Melbourne, Vic 3004</span>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <span class="price">$28,000</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-primary">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
