@model List<DapperProject.Dtos.LocationDtos.ResultLocationDto>
@{
    var categories = ViewData["Categories"] as List<DapperProject.Dtos.CategoryDtos.ResultCategoryDto>;
}
<section class="ftco-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12 search-wrap">
                <h2 class="heading h5 d-flex align-items-center pr-4"><span class="ion-ios-search mr-3"></span> Filtrele</h2>
                <form asp-area="" asp-controller="Advert" asp-action="AdvertList" class="search-property">
                    <div class="row">
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Aranacak Kelime</label>
                                <div class="form-field">
                                    <div class="icon"><span class="icon-pencil"></span></div>
                                    <input type="text" name="word" class="form-control" placeholder="Aranacak Kelimeyi Giriniz..">
                                </div>
                            </div>
                        </div>
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Lokasyon</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="location" id="" class="form-control">
                                            <option value="">Lokasyon Seçiniz</option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.LocationId" style="color:black">@item.LocationName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Minimum Fiyat</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="minPrice" id="" class="form-control">
                                            <option value="">Fiyat Seçiniz</option>
                                            @foreach (var item in ViewBag.minPrice)
                                            {
                                                <option value="@item" style="color:black">$@item.ToString().Insert(3, ".")</option>
                                            }


                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md align-items-end">
                            <div class="form-group">
                                <label for="#">Maksimum Fiyat</label>
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="maxPrice" id="" class="form-control">
                                            <option value="">Fiyat Seçiniz</option>
                                            @foreach (var item in ViewBag.maxPrice)
                                            {
                                                <option value="@item" style="color:black">$@item.ToString().Insert(3, ".")</option>
                                            }


                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md align-self-end">
                            <div class="form-group">
                                <div class="form-field">
                                    <input type="submit" value="Ara" class="form-control btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>