<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-pin"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Dünyanın Her Yerinde Yer Bulun</h3>
                        <p>Hızlı ve kolay arama ile hayalinizdeki yeri keşfedin, her noktada konfor ve lüks sizinle!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Deneyimli Acentelerimiz Var</h3>
                        <p>Uzman kadromuzla en iyi hizmeti alarak hayalinizdeki mülkü bulun!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-house"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Satın al ve Kiralık Modern Gayrimenkuller</h3>
                        <p>İstediğiniz konutlar ister satın almak ister kiralamak hepsi burada</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services py-4 d-block text-center">
                    <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-purse"></span></div></div>
                    <div class="media-body p-2 mt-2">
                        <h3 class="heading mb-3">Para Kazanmak</h3>
                        <p>Sahip olduğunuz evi ister satabilir ister kiralayabilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>